In [3]:
import pandas as pd

df = pd.read_csv("../data/processed/cleaned_train.csv")
df.head()

,unit,cycle,RUL,max_cycle,op_setting_1,op_setting_2,op_setting_3,sensor_2,sensor_3,sensor_4,...,sensor_8,sensor_9,sensor_11,sensor_12,sensor_13,sensor_14,sensor_15,sensor_17,sensor_20,sensor_21
0,1,1,191,192,-0.0007,-0.0004,100.0,641.82,1589.70,1400.60,...,2388.06,9046.19,47.47,521.66,2388.02,8138.62,8.4195,392,39.06,23.4190
1,1,2,190,192,0.0019,-0.0003,100.0,642.15,1591.82,1403.14,...,2388.04,9044.07,47.49,522.28,2388.07,8131.49,8.4318,392,39.00,23.4236
2,1,3,189,192,-0.0043,0.0003,100.0,642.35,1587.99,1404.20,...,2388.08,9052.94,47.27,522.42,2388.03,8133.23,8.4178,390,38.95,23.3442
3,1,4,188,192,0.0007,0.0000,100.0,642.35,1582.79,1401.87,...,2388.11,9049.48,47.13,522.86,2388.08,8133.83,8.3682,392,38.88,23.3739
4,1,5,187,192,-0.0019,-0.0002,100.0,642.37,1582.85,1406.22,...,2388.06,9055.15,47.28,522.19,2388.04,8133.80,8.4294,393,38.90,23.4044

In [15]:
df.columns

Index(['cycle', 'RUL', 'max_cycle', 'op_setting_1', 'op_setting_2',
       'op_setting_3', 'sensor_2', 'sensor_3', 'sensor_4', 'sensor_7',
       'sensor_8', 'sensor_9', 'sensor_11', 'sensor_12', 'sensor_13',
       'sensor_14', 'sensor_15', 'sensor_17', 'sensor_20', 'sensor_21'],
      dtype='object')

In [14]:
print("Colonnes disponibles :", df.columns.tolist())

Colonnes disponibles : ['cycle', 'RUL', 'max_cycle', 'op_setting_1', 'op_setting_2', 'op_setting_3', 'sensor_2', 'sensor_3', 'sensor_4', 'sensor_7', 'sensor_8', 'sensor_9', 'sensor_11', 'sensor_12', 'sensor_13', 'sensor_14', 'sensor_15', 'sensor_17', 'sensor_20', 'sensor_21']